<div class="wrap">
  <div class="settings">
    <h1>CSS box-shadow</h1>
    <div class="option">
      <div class="line">
        <span>Horizontal</span>
        <input type="number" [(ngModel)]="horizontal" min="-100" max="100">
      </div>
      <input type="range" [(ngModel)]="horizontal" min="-100" max="100">
    </div>    
    <div class="option">
      <div class="line">
        <span>Vertical</span>
        <input type="number" [(ngModel)]="vertical" min="-100" max="100">
      </div>
      <input type="range" [(ngModel)]="vertical" min="-100" max="100">
    </div>    
    <div class="option">
      <div class="line">
        <span>Blur</span>
        <input type="number" [(ngModel)]="blur" min="0" max="200">
      </div>
      <input type="range" [(ngModel)]="blur" min="0" max="200">
    </div>    
    <div class="option">
      <div class="line">
        <span>Spread</span>
        <input type="number" [(ngModel)]="spread" min="-100" max="100">
      </div>
      <input type="range" [(ngModel)]="spread" min="-100" max="100">
    </div>    
    <div class="option">
      <div class="line">
        <span>Color:</span>
        <input type="color" [(ngModel)]="color" class="colorInput" style="padding: 5px"></div>
    </div>
    <div class="code">
      <p>box-shadow: {{horizontal}}px {{vertical}}px {{blur}}px {{spread}}px {{color}};</p>
    </div>
  </div>
  <div class="effectWrap">
    <div class="effect" style="box-shadow: {{horizontal}}px {{vertical}}px {{blur}}px {{spread}}px {{color}};"></div>
  </div>
</div>
